### macOS ###
.DS_Store
.AppleDouble
Temporary Items
*.icloud

### Rust ###
src-tauri/Cargo.lock
src-tauri/target/
src-tauri/debug/
src-tauri/release/

### Node NPM ###
node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## other ###
.git/
logs
backend/*
.sketch
.vscode/
.idea
*.iml
.gitattributes
*.log
*.env
*.env.local
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.db
*.swp
*.swo
stats.html

